#page-create-orphanage {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;

  background:  url('../../images/GraniSkadi.png') no-repeat ;
  background-size: cover;
  background-position: center;
}

#page-create-orphanage main {
  flex: 1;
}

form.create-orphanage-form {
  width: 500px;
  margin: 50px auto;
  overflow: hidden;

  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
  backdrop-filter: blur(5px);

  background-attachment: fixed;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2); 
  border-radius: 5px;
  z-index: 1;
}

form.create-orphanage-form .leaflet-container {
  margin-bottom: 40px;
  border: 1px solid #000000;
  border-radius: 20px;
}

form.create-orphanage-form fieldset {
  border: 0;
}

form.create-orphanage-form fieldset + fieldset {
  margin-top: 80px;
}

form.create-orphanage-form fieldset legend {
  width: 100%;

  font-size: 30px;
  line-height: 30px;

  color: #fd0909;
  font-weight: 900;

  border-bottom: 1px solid #d3e2e5;
  margin-bottom: 40px;
  padding-bottom: 14px;
}

form.create-orphanage-form .like-input-block + .like-input-block {
  margin-top: 30px;
}

form.create-orphanage-form .like-input-block label {
  display: flex;
  text-shadow: -1px 0 #000000, 0 1px  #000000, 1px 0  #000000, 0 -1px  #000000;;

  color: #ffffff;
  font-weight: 900;
  margin-bottom: 8px;
  line-height: 10px;
}

form.create-orphanage-form .like-input-block label span {
  font-size: 14px;
  color: #000000;
  margin-left: 24px;
  line-height: 14px;
}

form.create-orphanage-form .like-input-block input,
form.create-orphanage-form .like-input-block textarea {
  width: 100%;
  background: #f5f8fa;
  border: 1px solid #d3e2e5;
  border-radius: 10px;
  outline: none;
  color: #000000;
}

form.create-orphanage-form .like-input-block input {
  height: 34px;
  padding: 0 16px;
}

form.create-orphanage-form .like-input-block textarea {
  min-height: 120px;
  max-height: 240px;
  resize: vertical;
  padding: 16px;
  line-height: 15px;
}



form.create-orphanage-form button.like-confirm-button {
  margin-top: 64px;

  width: 50%;
  height: 34px;
  border: 0;
  cursor: pointer;
  background: #ff0e0e;
  border-radius: 15px;
  color: #ffffff;
  font-weight: 800;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: background-color 0.2s;
}

form.create-orphanage-form button.like-confirm-button svg {
  margin-right: 16px;
}

form.create-orphanage-form button.like-confirm-button:hover {
  background: #ff0000b4;
}